{
  "semi": true,
  "useTabs": false,
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "all",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@presentation",
    "^@presentation/(.*)$",
    "^@adapter",
    "^@adapter/(.*)$",
    "^@repositories",
    "^@repositories/(.*)$",
    "^@api",
    "^@api/(.*)$",
    "^@domain",
    "^@domain/(.*)$",
    "^@shared",
    "^@shared/(.*)$",
    "^@server/(.*)$",
    "^@config",
    "^@config/(.*)$",
    "([.]svg|[.]jpg|[.]jpeg|[.]gif|[.]png)$",
    "^[./]",
    "^[./](?!.*([.]css|[.]scss))",
    "([.]css|[.]scss)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
